### Build ###
target/
build/
.gradle/

### IDEs ###
.idea/
.vscode/
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

### Output ###
out/
bin/

### Environment ###
.env
application-local.yml
application-local.properties

### Logs ###
logs/
*.log

### OS ###
.DS_Store
